Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@maiconDeSouza 
maiconDeSouza
/
myApi
Public
Cannot fork because you own this repository and are not a member of any organizations.
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
myApi/.gitignore
@maiconDeSouza
maiconDeSouza first commit
Latest commit e51f014 2 weeks ago
 History
 1 contributor
45 lines (37 sloc)  495 Bytes

/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Docker
.docker/*
!.docker/entrypoint.sh
!.docker/postgres/Dockerfile

.env
tsconfig.tsbuildinfo

uploads/*
!uploads/.gitkeep
db.sqlite
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
myApi/.gitignore at main · maiconDeSouza/myApi